<table class="matrix-image-position">
	<tbody>
		<tr>
		    <td>
		    	<img id="noGif0" alt="0"  src="image/digit/0.png"  data-ng-click="imageClick(0)" ondragstart="return false;">
		    </td>
		    <td>
		     	<img id="noGif1" alt="0"  src="image/digit/0.png"  data-ng-click="imageClick(1)" ondragstart="return false;">
		    </td>
		     <td style="width:5px;"></td>
		     <td>
		       <img id="noGif2" alt="0"  src="image/digit/0.png"  data-ng-click="imageClick(2)" ondragstart="return false;">
		     </td>
		     <td>
		       <img id="noGif3" alt="0"  src="image/digit/0.png"  data-ng-click="imageClick(3)" ondragstart="return false;">
		     </td>
		</tr>
			<tr>
		    <td>
		    	<img id="noGif4" alt="0"  src="image/digit/0.png"  data-ng-click="imageClick(4)" ondragstart="return false;">
		    </td>
		    <td>
		     	<img id="noGif5" alt="0"  src="image/digit/0.png"  data-ng-click="imageClick(5)" ondragstart="return false;">
		    </td>
		    <td style="width:5px;"></td>
		    <td>
		     	<img id="noGif6" alt="0"  src="image/digit/0.png"  data-ng-click="imageClick(6)" ondragstart="return false;">
		    </td>
		     <td>
		       <img id="noGif7" alt="0"  src="image/digit/0.png"  data-ng-click="imageClick(7)" ondragstart="return false;">
		     </td>
		</tr>
			<tr style="height:5px;"><td></td></tr>
			<tr>
		    <td>
		    	<img id="noGif8" alt="0"  src="image/digit/0.png"  data-ng-click="imageClick(8)" ondragstart="return false;">
		    </td>
		    <td>
		     	<img id="noGif9" alt="0"  src="image/digit/0.png"  data-ng-click="imageClick(9)" ondragstart="return false;">
		    </td>
		     <td style="width:5px;"></td>
		     <td>
		       <img id="noGif10" alt="0"  src="image/digit/0.png"  data-ng-click="imageClick(10)" ondragstart="return false;">
		     </td>
		     <td>
		       <img id="noGif11" alt="0"  src="image/digit/0.png"  data-ng-click="imageClick(11)" ondragstart="return false;">
		     </td>
		</tr>
	
			<tr>
		    <td>
		    	<img id="noGif12" alt="0"  src="image/digit/0.png"  data-ng-click="imageClick(12)" ondragstart="return false;">
		    </td>
		    <td>
		     	<img id="noGif13" alt="0"  src="image/digit/0.png"  data-ng-click="imageClick(13)" ondragstart="return false;">
		    </td>
		     <td style="width:5px;"></td>
		     <td>
		       <img id="noGif14" alt="0"  src="image/digit/0.png"  data-ng-click="imageClick(14)" ondragstart="return false;">
		     </td>
		     <td>
		       <img id="noGif15" alt="0"  src="image/digit/0.png"  data-ng-click="imageClick(15)" ondragstart="return false;">
		     </td>
		</tr>
	</tbody>
</table>