<table class="table-mi-matrix">
	<tr>
		<td><img alt="{{matrixItems[0]}}" data-ng-src="{{imagePath}}/{{matrixItems[0]}}.png" data-ng-click="matrixClick(0)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[1]}}" data-ng-src="{{imagePath}}/{{matrixItems[1]}}.png" data-ng-click="matrixClick(1)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[2]}}" data-ng-src="{{imagePath}}/{{matrixItems[2]}}.png" data-ng-click="matrixClick(2)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[3]}}" data-ng-src="{{imagePath}}/{{matrixItems[3]}}.png" data-ng-click="matrixClick(3)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[4]}}" data-ng-src="{{imagePath}}/{{matrixItems[4]}}.png" data-ng-click="matrixClick(4)" ondragstart="return false;"></td>
	</tr>
	<tr>
		<td><img alt="{{matrixItems[5]}}" data-ng-src="{{imagePath}}/{{matrixItems[5]}}.png" data-ng-click="matrixClick(5)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[6]}}" data-ng-src="{{imagePath}}/{{matrixItems[6]}}.png" data-ng-click="matrixClick(6)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[7]}}" data-ng-src="{{imagePath}}/{{matrixItems[7]}}.png" data-ng-click="matrixClick(7)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[8]}}" data-ng-src="{{imagePath}}/{{matrixItems[8]}}.png" data-ng-click="matrixClick(8)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[9]}}" data-ng-src="{{imagePath}}/{{matrixItems[9]}}.png" data-ng-click="matrixClick(9)" ondragstart="return false;"></td>
	</tr>
	<tr>
		<td><img alt="{{matrixItems[10]}}" data-ng-src="{{imagePath}}/{{matrixItems[10]}}.png" data-ng-click="matrixClick(10)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[11]}}" data-ng-src="{{imagePath}}/{{matrixItems[11]}}.png" data-ng-click="matrixClick(11)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[12]}}" data-ng-src="{{imagePath}}/{{matrixItems[12]}}.png" data-ng-click="matrixClick(12)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[13]}}" data-ng-src="{{imagePath}}/{{matrixItems[13]}}.png" data-ng-click="matrixClick(13)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[14]}}" data-ng-src="{{imagePath}}/{{matrixItems[14]}}.png" data-ng-click="matrixClick(14)" ondragstart="return false;"></td>
	</tr>
	<tr>
		<td><img alt="{{matrixItems[15]}}" data-ng-src="{{imagePath}}/{{matrixItems[15]}}.png" data-ng-click="matrixClick(15)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[16]}}" data-ng-src="{{imagePath}}/{{matrixItems[16]}}.png" data-ng-click="matrixClick(16)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[17]}}" data-ng-src="{{imagePath}}/{{matrixItems[17]}}.png" data-ng-click="matrixClick(17)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[18]}}" data-ng-src="{{imagePath}}/{{matrixItems[18]}}.png" data-ng-click="matrixClick(18)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[19]}}" data-ng-src="{{imagePath}}/{{matrixItems[19]}}.png" data-ng-click="matrixClick(19)" ondragstart="return false;"></td>
	</tr>
	<tr>
		<td><img alt="{{matrixItems[20]}}" data-ng-src="{{imagePath}}/{{matrixItems[20]}}.png" data-ng-click="matrixClick(20)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[21]}}" data-ng-src="{{imagePath}}/{{matrixItems[21]}}.png" data-ng-click="matrixClick(21)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[22]}}" data-ng-src="{{imagePath}}/{{matrixItems[22]}}.png" data-ng-click="matrixClick(22)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[23]}}" data-ng-src="{{imagePath}}/{{matrixItems[23]}}.png" data-ng-click="matrixClick(23)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[24]}}" data-ng-src="{{imagePath}}/{{matrixItems[24]}}.png" data-ng-click="matrixClick(24)" ondragstart="return false;"></td>
	</tr>
</table>