<table class="table-mi-matrix">
	<tr>
		<td><img alt="{{matrixForSureItems[0]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[0]}}.png" data-ng-click="matrixForSureClick(0)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[1]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[1]}}.png" data-ng-click="matrixForSureClick(1)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[2]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[2]}}.png" data-ng-click="matrixForSureClick(2)" ondragstart="return false;"></td>
		<td class="table-mi-sub-matrix-space-h"></td>
		<td><img alt="{{matrixForSureItems[3]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[3]}}.png" data-ng-click="matrixForSureClick(3)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[4]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[4]}}.png" data-ng-click="matrixForSureClick(4)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[5]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[5]}}.png" data-ng-click="matrixForSureClick(5)" ondragstart="return false;"></td>
	</tr>
	<tr>
		<td><img alt="{{matrixForSureItems[6]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[6]}}.png" data-ng-click="matrixForSureClick(6)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[7]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[7]}}.png" data-ng-click="matrixForSureClick(7)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[8]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[8]}}.png" data-ng-click="matrixForSureClick(8)" ondragstart="return false;"></td>
		<td class="table-mi-sub-matrix-space-h"></td>
		<td><img alt="{{matrixForSureItems[9]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[9]}}.png" data-ng-click="matrixForSureClick(9)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[10]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[10]}}.png" data-ng-click="matrixForSureClick(10)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[11]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[11]}}.png" data-ng-click="matrixForSureClick(11)" ondragstart="return false;"></td>
	</tr>
	<tr>
		<td><img alt="{{matrixForSureItems[12]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[12]}}.png" data-ng-click="matrixForSureClick(12)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[13]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[13]}}.png" data-ng-click="matrixForSureClick(13)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[14]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[14]}}.png" data-ng-click="matrixForSureClick(14)" ondragstart="return false;"></td>
		<td class="table-mi-sub-matrixForSure-space-h"></td>
		<td><img alt="{{matrixForSureItems[15]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[15]}}.png" data-ng-click="matrixForSureClick(15)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[16]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[16]}}.png" data-ng-click="matrixForSureClick(16)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[17]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[17]}}.png" data-ng-click="matrixForSureClick(17)" ondragstart="return false;"></td>
	</tr>
	<tr class="table-mi-sub-matrix-space-v">
		<td></td>
	</tr>
	<tr>
		<td><img alt="{{matrixForSureItems[18]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[18]}}.png" data-ng-click="matrixForSureClick(18)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[19]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[19]}}.png" data-ng-click="matrixForSureClick(19)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[20]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[20]}}.png" data-ng-click="matrixForSureClick(20)" ondragstart="return false;"></td>
		<td class="table-mi-sub-matrix-space-h"></td>
		<td><img alt="{{matrixForSureItems[21]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[21]}}.png" data-ng-click="matrixForSureClick(21)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[22]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[22]}}.png" data-ng-click="matrixForSureClick(22)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[23]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[23]}}.png" data-ng-click="matrixForSureClick(23)"></td>
	</tr>
	<tr>
		<td><img alt="{{matrixForSureItems[24]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[24]}}.png" data-ng-click="matrixForSureClick(24)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[25]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[25]}}.png" data-ng-click="matrixForSureClick(25)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[26]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[26]}}.png" data-ng-click="matrixForSureClick(26)" ondragstart="return false;"></td>
		<td class="table-mi-sub-matrix-space-h"></td>
		<td><img alt="{{matrixForSureItems[27]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[27]}}.png" data-ng-click="matrixForSureClick(27)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[28]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[28]}}.png" data-ng-click="matrixForSureClick(28)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[29]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[29]}}.png" data-ng-click="matrixForSureClick(29)" ondragstart="return false;"></td>
	</tr>
	<tr>
		<td><img alt="{{matrixForSureItems[30]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[30]}}.png" data-ng-click="matrixForSureClick(30)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[31]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[31]}}.png" data-ng-click="matrixForSureClick(31)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[32]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[32]}}.png" data-ng-click="matrixForSureClick(32)" ondragstart="return false;"></td>
		<td class="table-mi-sub-matrix-space-h"></td>
		<td><img alt="{{matrixForSureItems[33]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[33]}}.png" data-ng-click="matrixForSureClick(33)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[34]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[34]}}.png" data-ng-click="matrixForSureClick(34)" ondragstart="return false;"></td>
		<td><img alt="{{matrixForSureItems[35]}}" data-ng-src="{{imagePath}}/{{matrixForSureItems[35]}}.png" data-ng-click="matrixForSureClick(35)" ondragstart="return false;"></td>
	</tr>
</table>