<table class="table-mi-matrix">
	<tr>
		<td><img alt="{{matrixItems[0]}}" data-ng-src="{{imagePath}}/{{matrixItems[0]}}.png" data-ng-click="matrixClick(0)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[1]}}" data-ng-src="{{imagePath}}/{{matrixItems[1]}}.png" data-ng-click="matrixClick(1)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[2]}}" data-ng-src="{{imagePath}}/{{matrixItems[2]}}.png" data-ng-click="matrixClick(2)" ondragstart="return false;"></td>
	</tr>
	<tr>
		<td><img alt="{{matrixItems[3]}}" data-ng-src="{{imagePath}}/{{matrixItems[3]}}.png" data-ng-click="matrixClick(3)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[4]}}" data-ng-src="{{imagePath}}/{{matrixItems[4]}}.png" data-ng-click="matrixClick(4)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[5]}}" data-ng-src="{{imagePath}}/{{matrixItems[5]}}.png" data-ng-click="matrixClick(5)" ondragstart="return false;"></td>
	</tr>
	<tr>
		<td><img alt="{{matrixItems[6]}}" data-ng-src="{{imagePath}}/{{matrixItems[6]}}.png" data-ng-click="matrixClick(6)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[7]}}" data-ng-src="{{imagePath}}/{{matrixItems[7]}}.png" data-ng-click="matrixClick(7)" ondragstart="return false;"></td>
		<td><img alt="{{matrixItems[8]}}" data-ng-src="{{imagePath}}/{{matrixItems[8]}}.png" data-ng-click="matrixClick(8)" ondragstart="return false;"></td>
	</tr>
</table>