<table class="table-mi-matrix">
	<tr>
		<td><img alt="{{oldMatrixItems[0]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[0]}}.png" data-ng-click="matrixClick(0)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[1]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[1]}}.png" data-ng-click="matrixClick(1)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[2]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[2]}}.png" data-ng-click="matrixClick(2)" ondragstart="return false;"></td>
		<td class="table-mi-sub-matrix-space-h"></td>
		<td><img alt="{{oldMatrixItems[3]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[3]}}.png" data-ng-click="matrixClick(3)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[4]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[4]}}.png" data-ng-click="matrixClick(4)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[5]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[5]}}.png" data-ng-click="matrixClick(5)" ondragstart="return false;"></td>
	</tr>
	<tr>
		<td><img alt="{{oldMatrixItems[6]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[6]}}.png" data-ng-click="matrixClick(6)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[7]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[7]}}.png" data-ng-click="matrixClick(7)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[8]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[8]}}.png" data-ng-click="matrixClick(8)" ondragstart="return false;"></td>
		<td class="table-mi-sub-matrix-space-h"></td>
		<td><img alt="{{oldMatrixItems[9]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[9]}}.png" data-ng-click="matrixClick(9)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[10]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[10]}}.png" data-ng-click="matrixClick(10)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[11]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[11]}}.png" data-ng-click="matrixClick(11)" ondragstart="return false;"></td>
	</tr>
	<tr>
		<td><img alt="{{oldMatrixItems[12]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[12]}}.png" data-ng-click="matrixClick(12)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[13]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[13]}}.png" data-ng-click="matrixClick(13)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[14]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[14]}}.png" data-ng-click="matrixClick(14)" ondragstart="return false;"></td>
		<td class="table-mi-sub-matrix-space-h"></td>
		<td><img alt="{{oldMatrixItems[15]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[15]}}.png" data-ng-click="matrixClick(15)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[16]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[16]}}.png" data-ng-click="matrixClick(16)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[17]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[17]}}.png" data-ng-click="matrixClick(17)" ondragstart="return false;"></td>
	</tr>
	<tr class="table-mi-sub-matrix-space-v">
		<td></td>
	</tr>
	<tr>
		<td><img alt="{{oldMatrixItems[18]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[18]}}.png" data-ng-click="matrixClick(18)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[19]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[19]}}.png" data-ng-click="matrixClick(19)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[20]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[20]}}.png" data-ng-click="matrixClick(20)" ondragstart="return false;"></td>
		<td class="table-mi-sub-matrix-space-h"></td>
		<td><img alt="{{oldMatrixItems[21]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[21]}}.png" data-ng-click="matrixClick(21)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[22]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[22]}}.png" data-ng-click="matrixClick(22)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[23]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[23]}}.png" data-ng-click="matrixClick(23)" ondragstart="return false;"></td>
	</tr>
	<tr>
		<td><img alt="{{oldMatrixItems[24]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[24]}}.png" data-ng-click="matrixClick(24)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[25]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[25]}}.png" data-ng-click="matrixClick(25)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[26]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[26]}}.png" data-ng-click="matrixClick(26)" ondragstart="return false;"></td>
		<td class="table-mi-sub-matrix-space-h"></td>
		<td><img alt="{{oldMatrixItems[27]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[27]}}.png" data-ng-click="matrixClick(27)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[28]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[28]}}.png" data-ng-click="matrixClick(28)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[29]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[29]}}.png" data-ng-click="matrixClick(29)" ondragstart="return false;"></td>
	</tr>
	<tr>
		<td><img alt="{{oldMatrixItems[30]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[30]}}.png" data-ng-click="matrixClick(30)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[31]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[31]}}.png" data-ng-click="matrixClick(31)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[32]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[32]}}.png" data-ng-click="matrixClick(32)" ondragstart="return false;"></td>
		<td class="table-mi-sub-matrix-space-h"></td>
		<td><img alt="{{oldMatrixItems[33]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[33]}}.png" data-ng-click="matrixClick(33)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[34]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[34]}}.png" data-ng-click="matrixClick(34)" ondragstart="return false;"></td>
		<td><img alt="{{oldMatrixItems[35]}}" data-ng-src="{{imagePath}}/{{oldMatrixItems[35]}}.png" data-ng-click="matrixClick(35)" ondragstart="return false;"></td>
	</tr>
</table>