<!-- alert消息对话框 -->
<div class="alert-modal-dialog">
	<div class="modal-dialog-header">
		<h3 class="modal-dialog-title">{{'通知消息'|T:'000004'}}</h3>
	</div>
	<div class="modal-dialog-body">
		<span class="modal-dialog-content">{{message.a}}</span>
	</div>
	<div class="modal-dialog-body">
		<span class="modal-dialog-content">{{message.b}}</span>
	</div>
	<div class="modal-dialog-footer">
		<button class="btn btn-success" type="button" data-ng-click="ok()">{{'确定'|T:'200002'}}</button>
	</div>
</div>