<!-- confirm消息对话框 -->
<div class="confirm-modal-dialog">
	<div class="modal-dialog-header">
		<h3 class="modal-dialog-title">{{'确定消息'|T:'000003'}}</h3>
	</div>
	<div class="modal-dialog-body">
		<span class="modal-dialog-content">{{message}}</span>
	</div>
	<div class="modal-dialog-footer">
		<button class="btn btn-warning" type="button" data-ng-click="ok()">{{'确定'|T:'200002'}}</button>
		<button class="btn btn-success" type="button" data-ng-click="cancel()">{{'取消'|T:'200003'}}</button>
	</div>
</div>